################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BALISA/.vs/BALISA
/BALISA/BALISA/x64/Debug
